<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="connectionString" value="Database=mpp_trips;Data Source=localhost;User id=root;Password=mariaDaria1999;"/>
    <add key="host" value="127.0.0.1"/>
    <add key="port" value="55555"/>
  </appSettings>

</configuration>